/* 
#624E88 - background color
#8967B3 - sections/ divs
#CB80AB - borders
#E6D9A2 - text-color

*/

body{
    background-color: #624E88;
    color:#E6D9A2;
}


a{
    color: #CB80AB;
}


.box p, .box li, .box ul, .box ol{
    font-size: 20px;
}


/* fonts */
.monoton{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.sofadi{
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
/* title styles */
.title{
    text-align: center;
    color: inherit;
    letter-spacing: 0.5rem;
}
.home-button{
    width: max-content;
    padding: 5px;
    border: 2px solid #CB80AB;
    background-color: #8967B3;
}

.home-button:hover a, .home-button:hover{
    color:#8967B3;
    background-color: #E6D9A2;
}

.home-button a{
    color:#E6D9A2;
    font-size: 120%;
    margin-left: 5px;
}

.footer{
    font-size: 80%;
}

.footer a:hover{
    color: #8967B3;
}

.footer-box{
    background-color: #CB80AB;
    border:2px solid #8967B3;
    padding: 5px 15px;
    float: right;
    width: 45%;
    height: 200px;
    margin:0px;
    font-size: 15px;
}

.footer-box a{
    color:#624E88;
}
.footer-box a:hover{
    color: #8967B3;
}

.box{
    border: 5px solid #CB80AB;
    background-color: #8967B3;
    margin: 10px 5px;
    padding: 1rem;
}

.box a:hover{
    color: #624E88;
}


.image{
    text-align: center;
}

.image img{
    border: 2px solid #E6D9A2;
    width: 250px;
    height: 250px;

}

.img-box img{
    width: 250px;
    height:250px;
}

.img-box{
    /* text-align: center; */
    display: inline-block;
    margin-right: 5px;
    width: 250px;
    height: 500px;
    align-items: center;
    justify-content: center;
}

ul.img-box-container{
    transform: translate(-2.2%, 10%);
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:0;
    margin: 0;
    list-style-position: inside;
}

.box-2{
    border: 5px solid #8967B3;
    background-color: #CB80AB;
    color:#624E88;
    padding: 1rem;
}

.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    justify-content: center;
}

.button{
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: #E6D9A2;
    padding: 1rem 3rem;
    border-radius: 50px;
    border: 2px solid #E6D9A2;
    width:40%;
}
.page-turn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.next-page-btn{
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid #CB80AB;
    border-radius: 50px;
    padding: 0.5rem 5rem;
    transition: 0.5s ease;
    letter-spacing: 0.25rem;
}

.next-page-btn:hover{
    background-color: #E6D9A2;
    color: #8967B3;
}