div{ 
    width: 200px;
    height: 200px;
    background-color: #E7CCCC;
}
h1{
    background-color: #F05A7E;
    margin: 5px;
    font-size: 50px;
    text-align: center;
    color: rgba(0, 132, 255, 0.979);
    font-family: "Beven", sans-serif;
    font-weight: 400;
    font-style: normal; 
    border: solid black 5px;
    text-decoration-color: #4A4947;
}
h2{
    font-size: 30px;
    text-align: center;
    color: rgba(0, 132, 255, 0.979);
    font-family: "Bevan", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: #4A4947;
}

ul{
    color: rgba(0, 132, 255, 0.979);
    font-family: "Bevan", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: #4A4947;
}
h4{
    font-size: 20px;
    text-align: center;
    color: rgba(0, 132, 255, 0.979);
    font-family: "Bevan", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: #4A4947;
} 
p{
    font-size: 10px;
    color:#4A4947;
    font-family: "Bevan", sans-serif;
    font-weight: 400;
    font-style: normal;
}
ol{
    font-size: 10px;
    color: black (0, 132, 255, 0.979);
    font-family: "Bevan", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img {
    width: 300px; 
    height: auto; 
    border: 2px solid black; 
    margin: 10px; 
}

